nav ul li {
    /* Mantenerlos en línea */
    display: inline-block;
    margin-right: 20px;
}

.boton-enlace {
    /* Nueva estructura con Flexbox VERTICAL para apilar Imagen sobre Texto */
    display: flex; 
    flex-direction: column; /* <-- ¡La clave para apilar verticalmente! */
    align-items: center; /* Centra horizontalmente el contenido (Imagen y Texto) */
    justify-content: center; /* Centra verticalmente el contenido dentro del <li> */

    /*caja */
    padding: 1vw 3vh;
    margin: 5px 2px;
    width: auto;
    
    /*BORDE Y ESQUINAS */
    border: 2px solid #000000;
    border-radius: 15px;
    
    /* TIPOGRAFÍA Y APARIENCIA */
    text-decoration: none; /* Quitamos el subrayado del enlace */
    font-family: 'Orbitron', Arial, sans-serif;
    font-weight: 700;
    
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 6px rgba(97, 96, 96, 0.08);
    cursor: pointer;
    
    background-color: #ededed;
}

/* LOGOS E ICONOS */

.navegador-icon {
    width: 60px; /* Reducido para que no sea tan grande */
    height: 60px;
    margin-bottom: 5px; /* Espacio entre la imagen y el texto */
}

/* TEXTO DEL BOTÓn*/
.navegadores-texto {
    color: black;
    /* font-size: 1rem; (Puedes añadir un tamaño de fuente aquí si es necesario) */
}

/* Efecto hover */
.boton-enlace:hover {
    background-color: #c4c2ff;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
























/*ESTILOS GENÉRICOS DE COLOR*/

.boton-juegos {
    background-color: #bcad00;
}

.boton-navegadores {
    background-color: #006db3;
}

















.boton-juegos {
    background-color: #bcad00;
}

.boton-navegadores {
    background-color: #006db3;
}
