main ul {
    padding: 0;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    max-width: 400px;
}

main ul li {
    display: block;
    margin: 0;
}

.boton-enlace {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 

    /* caja */
    padding: 1rem;
    margin: 5px 2px;

    width: 160px;
    min-height: 120px;
    box-sizing: border-box;
    
    /*BORDE Y ESQUINAS */
    border: 2px solid #000000;
    border-radius: 15px;
    
    /* TIPOGRAFÍA Y APARIENCIA */
    text-decoration: none;
    font-family: 'Orbitron', Arial, sans-serif;
    font-weight: 700;
    
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(97, 96, 96, 0.08);
    cursor: pointer;
    
    background-color: #ffffff;
}

/* LOGOS ICONOS */

.buttons-icons {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    display: block;
    max-width: 100%;
    height: auto;
}

/* TEXTO DEL BOTÓn*/
.navegadores-texto {
    color: black;

}

/* Efecto hover */
.nave-hover:hover {
    background-color: #c4c2ff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.games-hover:hover {
    background-color: #fff0c2;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.rendimiento-hover:hover {
    background-color: #ffcbcb;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.installer-hover:hover {
    background-color: #f4d6f9;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
/*
.nave-hover:hover {
    background-color: #c4c2ff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.games-hover:hover {
    background-color: #fff0c2;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.rendimiento-hover:hover {
    background-color: #ffcbcb;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
*/
main ul li:last-child {
    margin-right: 0;
}