* { 
    box-sizing: border-box; 
}

/*BODY Y ENCABEZADOS*/
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #F8F8FF;
    color: #111111;
    margin: 0;
    padding: 30px 20px;
    text-align: center;
}

header { 
    text-align: center; 
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    margin: 0 0 20px 0;
    font-size: 50px;
    color: #006db3;
    border-bottom: 2px solid #E0E0E0;
    padding-bottom: 10px;
    display: inline-block;
}

/*NAVEGACIÓN Y LISTAS*/
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

nav ul.main-list, ul.browser-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*ESTILOS DE BOTÓN PRINCIPAL*/
a.boton-enlace {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    padding: 20px 25px;
    min-width: 140px;
    border-radius: 10px;
    border: 2px solid #000000;
    
    /*TIPOGRAFÍA Y APARIENCIA */
    background-color: #E0E0E0;
    color: #111111;
    text-decoration: none;
    
    font-size: 20px;
    font-weight: 700;

    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    

}

a.boton-enlace {
    min-width: 200px; 
}

/*ESTILOS DE HOVER (Color Sólido)*/
a.boton-enlace:hover {
    background-color: #006db3;
    text-shadow: none;
    box-shadow: 0 6px 15px rgba(0,0,0,0.4);
    opacity: 0.95;
    color:#d3eeff
}   

/* ESTILOS PARA LA NAVEGACIÓN INFERIOR Y PIE DE PÁGINA */
.bottom-navigation {
    margin-top: 60px; /* Espacio debajo de los navegadores */
}

.bottom-navigation h2 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 25px;
}

.other-sections {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

/* Ajuste para botones más pequeños en esta sección */
.boton-enlace.small {
    padding: 12px 18px; 
    min-width: 120px;
    font-size: 0.9rem; 
}

.footer-text {
    margin-top: 100px;
    padding-top: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 0.9rem;
    color: #666666;
    border-top: 1px solid #EEEEEE;
}